#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 11vh);
  grid-template-rows: repeat(8, 11vh);
  width: 88vh;
  height: 88vh;
  background-color: blue;
}

#chessboard .tile {
  width: 11vh;
  height: 11vh;
}

#chessboard .black-tile {
  background-color: #779556;
}

#chessboard .white-tile {
  background-color: #ebecd0;
}