:root {
  --chessboardSide: 640px;
  --chessboard-modal-height: 200px;
}

#app {
  display: grid;
  grid-template-columns: 13rem calc(100% - 13rem);
  grid-template-rows: 100vh 100vh;
}

.main {
  background-color: #342928;
}

@media screen and (max-width: 1250px) {
  #app {
    grid-template-columns: 4rem calc(100% - 4rem);
    grid-template-rows: 100vh 100vh;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 960px) {
  #app {
    grid-template-columns: none;
    grid-template-rows: 69px calc(100vh - 69px);
  }
}
